<html>
    <head>
        <title>TEST</title>
    </head>

    <br>LOGIN</br>
    <form action="login" method="post">
        USER NAME <input type="text" name="user_name"><br>
        USER PASS <input type="text" name="password"><br>
        <input type="submit" value="Submit">
    </form>

    <br>REGISTER</br>
    <form action="register" method="post">
        USER NAME <input type="text" name="user_name"><br>
        USER PASS <input type="text" name="password"><br>
        <input type="submit" value="Submit">
    </form>


</html>

