<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <h1>TFE configuration panel</h1>
    <div class="h-80 container d-flex justify-content-center align-items-center">
        <form class="p-5 d-flex flex-column form-shadow rounded" id="login-form">
            <div class="form-group">
                <label for="email-input">Email address</label>
                <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp"
                    placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password" required>
            </div>
            <button type="button" class="btn btn-primary" id="login-btn">Login</button>
            <hr>
            <h5>First time here?</h5>
            <button type="button" class="btn btn-primary" id="registration-btn">Register</button>
        </form>
    </div>
</body>
<script src="scripts/login.js"></script>
</html>